body{
    background-image: url("h.jpg");
    margin: 0;
    padding: 0;
    background-size: cover;
    /* background-position: center; */
}
.log{
    width: 320px;
    height: 400px;
    background:rgb(65, 34, 34);
    color: #fff;
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top :-50px;
    left: calc(50% - 50px);
}
h1{
    margin: auto;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
}
.log p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.log input{
    width: 100%;
    margin-bottom: 20px;
}
.log input[type="text"],input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 15px;
}
.log input[type="submit"]{
    border: none;
    background: blue;
    outline: none;
    height: 35px;
    font-size: 20px;
    border-radius: 20px;
    color: white;
}
.log input[type="submit"]:hover{
    cursor: pointer;
    background: blue;
    color: #000;
}
.log a{
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
}
.log a:hover{
    color: aqua;
}